#### ===================================================================================================================

# Dafiniti Shoes

#### ===================================================================================================================

In [1]:
#Import Dependencies
import pandas as pd

In [2]:
#Create reference to CSV file
csv_path1 = "Mens_Shoes_df.csv"

#Import the CSV into a pandas DataFrame
Mens_Shoes_df = pd.read_csv(csv_path1, low_memory = False)

In [3]:
#Create reference to CSV file
csv_path2 = "Womens_Shoes_df.csv"

#Import the CSV into a pandas DataFrame
Womens_Shoes_df = pd.read_csv(csv_path2, low_memory = False)

#### PRINT BOTH DATAFRAMES

In [4]:
#Print the Mens dataframe
print("The Men's dataframe looks like...")
Mens_Shoes_df

The Men's dataframe looks like...

,Index,ID,Name,Brand,Colours,Price($),Gender,Currency,Date
0,1,AVpe6YWKLJeJML43yIru,Westridge Oiled Suede Boot,Ralph Lauren,Dark BrownDark Brown,729.99,Men's,USD,2016-02-21
1,2,AVpfIoidilAPnD_xVsOh,Saint Laurent Men's Leather High Top Sneaker S...,Saint Laurent,Silver,520.00,Men's,USD,2017-01-09
2,3,AVpfYMpY1cnluZ0-jsxG,Lucchese Landon Caiman Hornback Tail Boots,Lucchese,Brown,475.99,Men's,USD,2016-10-05
3,4,AVpfGXOdilAPnD_xU7eC,Kenetrek Men's Mountain Extreme Ni Boot Wide 9...,Kenetrek,Multicolor,450.00,Men's,USD,2016-11-11
4,5,AVpfzCC01cnluZ0-rdrP,Dan Post Western Boots Mens 11 Flank Caiman Co...,Dan Post,Sunset,439.95,Men's,USD,2016-03-21
...,...,...,...,...,...,...,...,...,...
1262,1263,AVpfMMFe1cnluZ0-f1n3,Green Bay Packers Men's Big Logo Unisex Beach ...,Forever Collectibles,Green Bay Packers,9.99,Men's,USD,2017-01-09
1263,1264,AVpfH-qmilAPnD_xVdqN,Keuka Suregrip Mens Rex Steel Toe Black Slip R...,Keuka SureGrip,Black,9.98,Men's,USD,2016-10-28
1264,1265,AVpfoPnTLJeJML43Ax9a,Alpine Swiss Men's Flip Flops Beach Sandals Li...,Alpine Swiss,Black,7.99,Men's,USD,2016-08-23
1265,1266,AVpe-ffCLJeJML43zoRk,Quiksilver Halewa Men Open Toe Synthetic Fli...,Quiksilver,Black,4.99,Men's,USD,2017-01-12
1266,1267,AVpfpcd8ilAPnD_xfq0P,Op Men's Printed Flip Flop Sandal,Op,Grey Black White,2.00,Men's,USD,2015-11-03

In [5]:
#Print the Womens dataframe
print("The Women's dataframe looks like...")
Womens_Shoes_df

The Women's dataframe looks like...

,Index,ID,Name,Brand,Colours,Gender,Price($),Currency,Date
0,1,AWpjC1khM263mwCq9tuU,NATURE BREEZE FF00 Women Over The Knee Mid Hig...,Faux Suede,OLIVE,Women's,5000.00,USD,2019-04-27
1,2,AWpNgbUgJbEilcB6Ow6q,Puma Women's Fierce Core Ultra Magenta / White...,Puma,Nrgy Peach,Women's,5000.00,USD,2019-04-24
2,3,AWo0e3tNJbEilcB6MSCQ,Women's White Mountain Theo Winter Bootie,White Mountain,Black Suede,Women's,5000.00,USD,2019-04-19
3,4,AWouiCjvAGTnQPR7qHwi,Totes Women's Ruby Double Zip Boot,TOTES,Black,Women's,5000.00,USD,2019-04-18
4,5,AWo0jy3_0U_gzG0he0ZP,women's trotters below zero waterproof ankle boot,Trotters,Black Nubuck Waterproof Polyurethane,Women's,5000.00,USD,2019-04-19
...,...,...,...,...,...,...,...,...,...
5693,5694,AWpxiu1IAGTnQPR7v64S,Faded Glory Sport Ballet Shoe,Faded Glory,SAND,Women's,9.00,USD,2019-04-19
5694,5695,AWozy0G_M263mwCq5mcS,Faded Glory Sport Ballet Shoe,Faded Glory,SAND,Women's,9.00,USD,2019-04-19
5695,5696,AWo0hPNiM263mwCq50Pj,Women's Casual Boat Shoe,Faded Glory,NAVY,Women's,8.18,USD,2019-04-19
5696,5697,AWozvnW8M263mwCq5lz6,Women's Casual Boat Shoe,Faded Glory,NAVY,Women's,7.41,USD,2019-04-19
5697,5698,AWozxVIH0U_gzG0helj9,Time and Tru Women's Jewel Chopout Ballet Flat...,TIME AND TRU,Black,Women's,5.50,USD,2019-04-19

#### MERGE BOTH DATAFRAMES

In [6]:
#Combine the 2 dataframes
Dafiniti_Shoes_df = Mens_Shoes_df.append(Womens_Shoes_df)

#Show the 'shape' of the dataframe
shape = Dafiniti_Shoes_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (6965, 9)

In [7]:
#Print the dataframe
#Dafiniti_Shoes_df

#### RE-ORDER THE DATAFRAME

In [8]:
#Convert prices column to Float 
Dafiniti_Shoes_df['Price'] = pd.to_numeric(Dafiniti_Shoes_df['Price($)'], errors = 'coerce')

#Sort DF based on Price
Dafiniti_Shoes_df = Dafiniti_Shoes_df.sort_values('Price($)', ascending=False)

In [9]:
#Print the dataframe
#Dafiniti_Shoes_df

#### DROP AN INDEX COLUMN AND SET ID AS INDEX

In [10]:
#Drop index column (because there is now 2)
Dafiniti_Shoes_df = Dafiniti_Shoes_df.drop(['Index'], axis = 1)

#Re-correct the given index or set 'ID' as index
Dafiniti_Shoes_df = Dafiniti_Shoes_df.set_index(["ID"])

#Show the 'shape' of the dataframe
shape = Dafiniti_Shoes_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (6965, 8)

#### PRINT THE RESULTING DATAFRAME

In [11]:
#Print the Dafiniti dataframe
print("The Dafiniti Shoe's dataframe looks like...")
Dafiniti_Shoes_df

The Dafiniti Shoe's dataframe looks like...

,Name,Brand,Colours,Price($),Gender,Currency,Date,Price
ID,,,,,,,,
AWpjC1khM263mwCq9tuU,NATURE BREEZE FF00 Women Over The Knee Mid Hig...,Faux Suede,OLIVE,5000.00,Women's,USD,2019-04-27,5000.00
AWpNgbUgJbEilcB6Ow6q,Puma Women's Fierce Core Ultra Magenta / White...,Puma,Nrgy Peach,5000.00,Women's,USD,2019-04-24,5000.00
AWo0e3tNJbEilcB6MSCQ,Women's White Mountain Theo Winter Bootie,White Mountain,Black Suede,5000.00,Women's,USD,2019-04-19,5000.00
AWouiCjvAGTnQPR7qHwi,Totes Women's Ruby Double Zip Boot,TOTES,Black,5000.00,Women's,USD,2019-04-18,5000.00
AWo0jy3_0U_gzG0he0ZP,women's trotters below zero waterproof ankle boot,Trotters,Black Nubuck Waterproof Polyurethane,5000.00,Women's,USD,2019-04-19,5000.00
...,...,...,...,...,...,...,...,...
AVpfoPnTLJeJML43Ax9a,Alpine Swiss Men's Flip Flops Beach Sandals Li...,Alpine Swiss,Black,7.99,Men's,USD,2016-08-23,7.99
AWozvnW8M263mwCq5lz6,Women's Casual Boat Shoe,Faded Glory,NAVY,7.41,Women's,USD,2019-04-19,7.41
AWozxVIH0U_gzG0helj9,Time and Tru Women's Jewel Chopout Ballet Flat...,TIME AND TRU,Black,5.50,Women's,USD,2019-04-19,5.50
AVpe-ffCLJeJML43zoRk,Quiksilver Halewa Men Open Toe Synthetic Fli...,Quiksilver,Black,4.99,Men's,USD,2017-01-12,4.99
AVpfpcd8ilAPnD_xfq0P,Op Men's Printed Flip Flop Sandal,Op,Grey Black White,2.00,Men's,USD,2015-11-03,2.00

#### SAVE THE DATAFRAME

In [12]:
#Save dataframe as csv file
Dafiniti_Shoes_df.to_csv('Dafiniti_Shoes_df.csv')