In [1]:
import pandas as pd
import datetime

In [2]:
w_file = "Datafiniti_Womens_Shoes_Jun19.csv"
women_df = pd.read_csv(w_file)
women_df.head()

,id,dateAdded,dateUpdated,asins,brand,categories,primaryCategories,colors,dimension,ean / upc,...,prices.dateSeen,prices.isSale,prices.merchant,prices.offer,prices.returnPolicy,prices.shipping,prices.size,prices.sourceURLs,sizes,sourceURLs
0,AWpyySsJAGTnQPR7wNt4,2019-05-01T09:27:22Z,2019-05-01T09:27:22Z,NaN,City Classified,"Clothing,Shoes,Womens Shoes,All Womens Shoes",Shoes,Black,NaN,656000000000,...,2019-04-19T07:09:29Z,NaN,NaN,Online only,NaN,NaN,8,https://www.walmart.com/ip/City-Classified-Sty...,8,https://www.walmart.com/ip/City-Classified-Sty...
1,AWpyyyb3AGTnQPR7wN-u,2019-05-01T09:27:19Z,2019-05-01T09:27:19Z,NaN,Skechers,"Clothing,Shoes,Womens Shoes,All Womens Shoes",Shoes,Taupe,NaN,192000000000,...,2019-04-24T09:14:11Z,NaN,NaN,Online only,NaN,NaN,6 M US,https://www.walmart.com/ip/Skechers-Women-S-Yo...,6 M US,https://www.walmart.com/ip/Skechers-Women-S-Yo...
2,AWpyzlajAGTnQPR7wOX8,2019-05-01T09:26:59Z,2019-05-01T09:26:59Z,NaN,Floral,"Clothing,Shoes,Womens Shoes,All Womens Shoes",Shoes,Black,NaN,709000000000,...,2019-04-25T12:35:00.000Z,NaN,NaN,Online only,NaN,NaN,5,https://www.walmart.com/ip/FLORAL-Pearl-Women-...,5,https://www.walmart.com/ip/FLORAL-Pearl-Women-...
3,AWpyxomE0U_gzG0hkA1q,2019-05-01T09:26:56Z,2019-05-01T09:26:56Z,NaN,Jambu,"Clothing,Shoes,Womens Shoes,All Womens Shoes",Shoes,Black/Multi,NaN,884000000000,...,2019-04-30T19:49:00.000Z,NaN,NaN,Online only: 20% off,NaN,NaN,9.5 BM US,https://www.walmart.com/ip/Jambu-Women-s-AMAL-...,9.5 BM US,https://www.walmart.com/ip/Jambu-Women-s-AMAL-...
4,AWpyxChWJbEilcB6RhWx,2019-05-01T09:26:56Z,2019-05-01T09:26:56Z,NaN,Trotters,"Clothing,Shoes,Womens Shoes,All Womens Shoes",Shoes,White,NaN,887000000000,...,2019-04-19T07:07:46Z,NaN,NaN,Online only: 50% off,NaN,NaN,11,https://www.walmart.com/ip/Women-s-Trotters-Bl...,11,https://www.walmart.com/ip/Women-s-Trotters-Bl...

In [3]:
#Select only columns we need
women_df = women_df[["id", "prices.dateSeen", "brand", "prices.amountMax", "colors", "name"]]
women_df.head()
len(women_df)

10000

In [4]:
#Filter out non-DateTime valued rows, and set value to "NaN"
women_df['prices.dateSeen'] = pd.to_datetime(women_df['prices.dateSeen'], errors='coerce')

#Drop all "NaN" valued rows in prices.dateSeen column
women_df = women_df.dropna(subset=['prices.dateSeen'])

#Convert the price.dateSeen column to string (from TimeStamp due to previous function to_datetime used)
women_df['prices.dateSeen']=women_df['prices.dateSeen'].astype(str)

#Convert column to list
dt_list = women_df["prices.dateSeen"].tolist()

#Clean up the list to only show yyyy-mm-dd formate
w_date = []
for x in dt_list:
    w_date.append(x.split(" ")[0])

#Add the formated list into the dataframe as new column "Date"
women_df["Date"] = w_date

#Drop off the price.seenDate column
women_df = women_df[["id", "brand", "Date", "prices.amountMax" , "colors", "name"]]

In [5]:
len(women_df)

7847

In [6]:
#============================================================================

In [7]:
m_file = "Datafiniti_Mens_Shoe_Prices.csv"
men_df = pd.read_csv(m_file)
men_df.head()

C:\Users\jingd\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (39,45,48) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,id,asins,brand,categories,colors,count,dateAdded,dateUpdated,descriptions,dimension,...,quantities,reviews,sizes,skus,sourceURLs,upc,vin,websiteIDs,weight,Unnamed: 48
0,AVpfHrJ6ilAPnD_xVXOI,NaN,Josmo,"Clothing,Shoes,Men's Shoes,All Men's Shoes",NaN,NaN,2016-11-07T00:45:12Z,2016-11-07T00:45:12Z,"[{""dateSeen"":[""2016-11-07T00:45:12Z""],""sourceU...",NaN,...,NaN,NaN,NaN,NaN,https://www.walmart.com/ip/Josmo-8190-Plain-In...,6.99302E+11,NaN,NaN,NaN,NaN
1,AVpfHrJ6ilAPnD_xVXOI,NaN,Josmo,"Clothing,Shoes,Men's Shoes,All Men's Shoes",NaN,NaN,2016-11-07T00:45:12Z,2016-11-07T00:45:12Z,"[{""dateSeen"":[""2016-11-07T00:45:12Z""],""sourceU...",NaN,...,NaN,NaN,NaN,NaN,https://www.walmart.com/ip/Josmo-8190-Plain-In...,6.99302E+11,NaN,NaN,NaN,NaN
2,AVpfHsWP1cnluZ0-eVZ7,NaN,SERVUS BY HONEYWELL,"All Men's Shoes,Shoes,Men's Shoes,Clothing",NaN,NaN,2016-06-14T04:29:57Z,2016-07-09T20:26:48Z,"[{""dateSeen"":[""2016-07-09T20:26:48Z""],""sourceU...",NaN,...,NaN,NaN,NaN,NaN,http://www.walmart.com/ip/Studs-Shoe-Large-Pr-...,NaN,NaN,NaN,NaN,NaN
3,AVpfHsWP1cnluZ0-eVZ7,NaN,SERVUS BY HONEYWELL,"All Men's Shoes,Shoes,Men's Shoes,Clothing",NaN,NaN,2016-06-14T04:29:57Z,2016-07-09T20:26:48Z,"[{""dateSeen"":[""2016-07-09T20:26:48Z""],""sourceU...",NaN,...,NaN,NaN,NaN,NaN,http://www.walmart.com/ip/Studs-Shoe-Large-Pr-...,NaN,NaN,NaN,NaN,NaN
4,AVpfHsWP1cnluZ0-eVZ7,NaN,SERVUS BY HONEYWELL,"All Men's Shoes,Shoes,Men's Shoes,Clothing",NaN,NaN,2016-06-14T04:29:57Z,2016-07-09T20:26:48Z,"[{""dateSeen"":[""2016-07-09T20:26:48Z""],""sourceU...",NaN,...,NaN,NaN,NaN,NaN,http://www.walmart.com/ip/Studs-Shoe-Large-Pr-...,NaN,NaN,NaN,NaN,NaN

In [8]:
#Select only columns we need
men_df = men_df[["id", "prices.dateSeen", "brand", "prices.amountMax", "colors", "name"]]
men_df.head()

,id,prices.dateSeen,brand,prices.amountMax,colors,name
0,AVpfHrJ6ilAPnD_xVXOI,2016-11-05T00:00:00Z,Josmo,39.89,NaN,"Josmo 8190 Plain Infant Walking Shoes, Navy - ..."
1,AVpfHrJ6ilAPnD_xVXOI,2016-11-05T00:00:00Z,Josmo,51.99,NaN,"Josmo 8190 Plain Infant Walking Shoes, Navy - ..."
2,AVpfHsWP1cnluZ0-eVZ7,2016-03-08T00:00:00Z,SERVUS BY HONEYWELL,40.02,NaN,Servus By Honeywell Shoe Studs Zsr101blmlg
3,AVpfHsWP1cnluZ0-eVZ7,2015-11-30T00:00:00Z,SERVUS BY HONEYWELL,50.31,NaN,Servus By Honeywell Shoe Studs Zsr101blmlg
4,AVpfHsWP1cnluZ0-eVZ7,2016-04-29T00:00:00Z,SERVUS BY HONEYWELL,46.26,NaN,Servus By Honeywell Shoe Studs Zsr101blmlg

In [9]:
#Filter out non-DateTime valued rows, and set value to "NaN"
men_df['prices.dateSeen'] = pd.to_datetime(men_df['prices.dateSeen'], errors='coerce')

#Drop all "NaN" valued rows in prices.dateSeen column
men_df = men_df.dropna(subset=['prices.dateSeen'])

#Convert the price.dateSeen column to string (from TimeStamp due to previous function to_datetime used)
men_df['prices.dateSeen']=men_df['prices.dateSeen'].astype(str)
men_df

#Convert column to list
dt_list = men_df["prices.dateSeen"].tolist()

#Clean up the list to only show yyyy-mm-dd formate
m_date = []
for x in dt_list:
    m_date.append(x.split(" ")[0])

#Add the formated list into the dataframe as new column "Date"
men_df["Date"] = m_date

#Drop off the price.seenDate column
men_df = men_df[["id", "brand", "Date", "prices.amountMax" , "colors", "name"]]

In [10]:
men_df.head()

,id,brand,Date,prices.amountMax,colors,name
0,AVpfHrJ6ilAPnD_xVXOI,Josmo,2016-11-05,39.89,NaN,"Josmo 8190 Plain Infant Walking Shoes, Navy - ..."
1,AVpfHrJ6ilAPnD_xVXOI,Josmo,2016-11-05,51.99,NaN,"Josmo 8190 Plain Infant Walking Shoes, Navy - ..."
2,AVpfHsWP1cnluZ0-eVZ7,SERVUS BY HONEYWELL,2016-03-08,40.02,NaN,Servus By Honeywell Shoe Studs Zsr101blmlg
3,AVpfHsWP1cnluZ0-eVZ7,SERVUS BY HONEYWELL,2015-11-30,50.31,NaN,Servus By Honeywell Shoe Studs Zsr101blmlg
4,AVpfHsWP1cnluZ0-eVZ7,SERVUS BY HONEYWELL,2016-04-29,46.26,NaN,Servus By Honeywell Shoe Studs Zsr101blmlg

In [11]:
len(men_df)

19349